.header {
    background:url("../../img/border1.png") 0 0 no-repeat;
    padding:40px 0 0;
}

.header__logoBox {
    float:left;
    color:#9c9c9c;
    text-transform:uppercase;
    font-size:12px;
}

.header__logoLink {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    height:37px;
    width:188px;
    margin-right:15px;
    background:url("../../img/logo1.png") 0 0 no-repeat;
    top:-1px;
}
