body.width1000{
	width:1000px;
}

div#content {
    height: 100%;
	width:100%;
    overflow-y: visible;
	overflow-x: hidden;
}

div#main {
    zoom:1;
}

div.params ul li input.checkbox {
	top:-3px;
	left:-24px;
}

ul.tabs li a {
	padding-right:0;
}

div.ctext span.corner{
	display:none;
}
/*
opacity
*/

element{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}

/*
png fix
*/

element {
    background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/img.png", sizingMethod = "crop");
}

div#training div.gradient {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/gradientie.png", sizingMethod = "crop");
}

a.logo {
    background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/logo.png", sizingMethod = "crop");
}

div.trener div.border  {
    background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/cornerava1.png", sizingMethod = "crop");
}

div.comment div.border  {
    background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/cornerava.png", sizingMethod = "crop");
}

div#nexta {
    background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/arr1.png", sizingMethod = "crop");
}

/*
left block corners
*/

div#left div.bordert span.corner.tl {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/corner2tl.png", sizingMethod = "crop");
}

div#left div.bordert span.corner.tr {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/corner2tr.png", sizingMethod = "crop");
}
/*
tabs
*/

ul.tabs li {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/tabl.png", sizingMethod = "crop");
}

ul.tabs li a {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/tabc.png", sizingMethod = "crop");
}

ul.tabs li span.corner {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/tabr.png", sizingMethod = "crop");
}

ul.tabs li.active {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/tabal.png", sizingMethod = "crop");
}

ul.tabs li.active a {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/tabac.png", sizingMethod = "crop");
}

ul.tabs li.active span.corner {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/tabar.png", sizingMethod = "crop");
}

/*
whiteblock
*/

div.whiteblock span.corner.tl {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/cornertl.png", sizingMethod = "crop");
}

div.whiteblock span.corner.tr {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/cornertr.png", sizingMethod = "crop");
}

div.whiteblock span.corner.bl {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/cornerbl.png", sizingMethod = "crop");
}

div.whiteblock span.corner.br {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/cornerbr.png", sizingMethod = "crop");
}

div.whiteblock span.bc {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/blockbc.png", sizingMethod = "crop");
}

div.whiteblock span.tc {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/blocktc.png", sizingMethod = "crop");
}

div.whiteblock div.borderleft {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/blockl.png", sizingMethod = "crop");
}

div.whiteblock div.borderright {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/ie/blockr.png", sizingMethod = "crop");
}

div.whiteblock div.button span.corner {
	background: transparent url(../im/ie/buttonw.png) no-repeat scroll right 0;
}

div.whiteblock div.button {
	background: transparent url(../im/ie/buttonw.png) no-repeat scroll right 0;
}
/*
items
*/

div.disc  {
    background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/disccover.png", sizingMethod = "crop");
}

div.disc span {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/discblik.png", sizingMethod = "crop");
}

div.book span {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/bookblick.png", sizingMethod = "crop");
}

div.dvd {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/dvdcover.png", sizingMethod = "crop");
}

div.dvd span {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/dvdblik.png", sizingMethod = "crop");
}

div.item {
	display:inline;
}

/*
comments
*/

a.comments {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/comments1.png", sizingMethod = "crop");
}

div#tape a.comments span.num {
	background: url(../im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/comments.png", sizingMethod = "crop");
}

/*
rainbow
*/

div.rainbowbig a {
	background: url(..im/pixel.gif) 0 0 repeat !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="im/rainbowabig.png", sizingMethod = "crop");
}

/*
element:hover
*/

element {
  unicode-bidi: expression(
    runtimeStyle.unicodeBidi = 'normal',
    onmouseover = function()
      {className += ' hover';},
    onmouseout = function()
      {className = className.replace(' hover','');}
    );
}

element.hover{}
