/*
 общие правила
 */
html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 auto;
	height: 100%;
	min-width: 1200px;
	position: relative;
	padding: 0;
	background: #f7f7f7;
}

ul {
	list-style: none;
}

ol {
	padding: 0 80px 20px;
}

ol li {
	padding: 0 0 5px;
}

div, li, span, b, a, ul, input, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #0099cc;
	outline: none;
}

a img {
	border: none;
}

a:hover {
	color: #e91c42;
}

h1 {
	position: relative;
	z-index: 10;
	font-size: 87px;
	font-weight: normal;
	padding: 0 0 10px 35px;
	text-transform: uppercase;
	color: #fff;
	line-height: 0.85em; *

padding-top:
	160px;
}

h1.small {
	font-size: 72px;
}

h1 a {
	text-decoration: none;
	color: #fff;
}

h1 a:hover {
	color: #fff;
}

h2 {
	position: relative;
	z-index: 10;
	font-size: 31px;
	font-weight: normal;
	line-height: 30px;
	padding: 0 0 0 35px;
	text-transform: uppercase;
	color: #fff;
	clear: both;
}

h3 {
	font-size: 38px;
	text-transform: uppercase;
	font-weight: normal;
}

h4 {
	font-size: 21px;
	color: #e91c42;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0 20px 10px;
	clear: both;
}

h4 a {
	color: #e91c42;
	text-decoration: none;
}

h5 {
	font-size: 14px;
	padding: 0 0 0 5px;
	white-space: nowrap;
	font-weight: normal;
}

h6 {
	font-size: 11px;
	color: #e91c42;
	font-weight: normal;
	padding: 0 0 20px;
	line-height: 14px;
}

div.filters h6 {
	font-size: 14px;
	color: #000;
}

/*
 buttons
 */
div.button {
	height: 41px;
	position: relative;
	float: right;
	cursor: pointer;
	left: -15px;
	margin: 10px 0 0 0;
	clear: both;
}

div.button.left {
	float: left;
	left: -5px;
}

div.button.top {
	top: -22px;
}

div.button span.corner {
	background: url(../im/button.png) right 0 no-repeat;
	-background: url(../im/ie/buttong.png) right 0 no-repeat;
	position: absolute;
	margin-left: 100%;
	left: 0;
	width: 20px;
	height: 41px;
	display: block;
	top: 0;
}

div.button input {
	border: none;
	background: none;
	height: 41px;
	font-size: 16px;
	color: #fff;
	overflow: visible;
	width: auto;
	padding: 0 20px 6px 40px;
	position: relative;
	font-family: Tahoma;
	cursor: pointer;
	background: url(../im/button.png) 0 0 no-repeat;
	-background: url(../im/ie/buttong.png) 0 0 no-repeat;
}

span.corner {
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	background: url(../im/corner1.png) no-repeat;
}

span.corner.tl {
	top: 0;
	left: 0;
	background-position: 0 0;
}

span.corner.tr {
	top: 0;
	right: 0;
	background-position: right 0;
}

span.corner.bl {
	bottom: 0;
	left: 0;
	background-position: 0 bottom;
}

span.corner.br {
	bottom: 0;
	right: 0;
	background-position: right bottom;
}

/*
 шапка страницы
 */
div#header {
	width: 1000px;
	padding: 35px 0 0;
	position: relative;
	height: 45px;
	z-index: 1000;
    overflow: hidden;
}

body#inner div#header {
	width: 100%;
}

body#inner div#plashka {
	width: 100%;
	height: 45px;
	position: absolute;
	top: 35px;
	background: #000;
	z-index: 100;
}

/*
 логотип
 */
a.logo {
	background: transparent url(../im/logo.png) no-repeat scroll left top;
	display: block;
	height: 30px;
	left: 40px;
	position: absolute;
	top: 42px;
	width: 134px;
	cursor: pointer;
}

/*
 главное меню
 */
ul#mainmenu {
	padding: 12px 0 0 225px;
	float: left;
}

ul#mainmenu li {
	float: left;
	position: relative;
	margin-right: 30px;
	-margin-right:25px;
}

ul#mainmenu li a {
	color: #fff;
	font-size: 15px;
	display: block;
	float: left;
	height: 19px;
	position: relative;
	left: 15px;
	padding-right: 15px;
}

ul#mainmenu li.active {
	background: url(../im/tabli.png) 0 0 no-repeat;
}

ul#mainmenu li.active a {
	color: #000;
	text-decoration: none;
	background: url(../im/tabli.png) right 0 no-repeat;
}

ul#mainmenu li:hover {
}

ul#mainmenu li:hover a {
}

div#login {
	float: right;
	padding: 12px 25px 5px 0;
}

body#inner div#login {
	float: right;
	padding: 12px 40px 5px 0;
}

div#login a.enter {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	border-bottom: 1px dashed;
}

div#login a.enter:hover {
	border: none;
}

/*
 лента анонсов
 */
div#tape {
	position: relative;
	height: 580px;
	overflow: hidden;
	margin-top: -80px;
}

div#tape div.preview {
	float: left;
	position: relative;
	width: 1000px;
	height: 580px;
	overflow: hidden;
	left: 0px;
	color: #fff;
	-zoom: 1;
}

div#tape a.comments {
	background: none;
	left: 900px;
	top: 504px;
	color: #fff;
}

div#tape a.comments:hover {
	color: #DB2C4C;
}

div#tape a.comments span.num {
	background: transparent url(../im/comments.png) no-repeat scroll 0 0;
	display: block;
	height: 27px;
	left: 0;
	line-height: 17px;
	position: relative;
	top: 0;
	color: #fff;
}

div#tape a.comments:hover span.num {
	color: #DB2C4C;
}

div#tape a.comments span {
	font-size: 12px;
	position: absolute;
	top: 25px;
	left: -20px;
	text-decoration: none;
	cursor: pointer;
}

div.die {
	background: #000 none repeat scroll 0 0;
	height: 45px;
	left: 0;
	position: absolute;
	top: 35px;
	width: 100%;
}

div.preview div.text {
	height: 580px;
	width: 800px;
	display: table-cell;
	vertical-align: middle;
}

div#tape img {
	position: absolute;
	top: 0;
	left: 0;
}

div#tape div.date, div#training div.date {
	position: relative;
	z-index: 10;
	padding: 0 0 0 35px;
	font-size: 31px;
	text-transform: uppercase;
	color: #fff;
}

div#tape div.author {
	position: relative;
	z-index: 10;
	padding: 0 0 0 35px;
	font-size: 16px;
	font-style: italic;
	position: absolute;
	bottom: 35px;
}

div#nexta {
	background: transparent url(../im/arr1.png) no-repeat scroll 0 0;
	height: 83px;
	left: 900px;
	position: absolute;
	top: 275px;
	width: 53px;
	cursor: pointer;
	z-index: 100;
}

div#allanons {
	clear: both;
}

div#allanons a {
	color: #000;
	padding: 0 5px;
	text-decoration: none;
	margin: 0 10px 0 0;
	background: #fff;
}

div#allanons a:hover {
	background: #DB2C4C;
	color: #fff;
}

div#allanons a.active {
	color: #fff;
	background: #000;
}

/*
 rainbow
 */
div.rainbowbig {
	width: 672px;
	height: 85px;
	background: url(../im/rainbowbig.png) 0 0 no-repeat;
	margin: 50px auto 0;
	position: relative;
	padding-bottom: 50px;
	-left: 50%;
	-margin-left: -335px;
	-padding-bottom: 100px;
}

div.rainbowbig div.scroll {
	margin: 0 35px;
	top: 50px;
	height: 52px;
	position: relative;
}

div.rainbowbig a {
	position: absolute;
	display: block;
	width: 52px;
	height: 52px;
	background: url(../im/rainbowabig.png) 0 0 no-repeat;
	margin-left: -26px;
	cursor: pointer;
}

/*
 заголовок на странице тренинга
 */
div#training {
	position: relative;
	margin-top: -80px;

}

div#training div.image {
	width: 100%;
	position: absolute;
	top: 0;
	max-height: 800px;
	overflow: hidden;
}

div#training img {
	width: 100%;
}

div#training div.text {
	width: 800px;
	padding: 180px 0 80px;
	position: relative;
	z-index: 100;
}

div#training h1 {
	padding-top: 0;
}

div#training div.author {
	bottom: 35px;
	font-size: 16px;
	font-style: italic;
	padding: 60px 0 0 35px;
	color: #fff;
}

div#training div.gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	background: url(../im/gradient.png) 0 0 repeat-x;
}

/*
 intro text
 */
div.intro {
	padding: 30px 20px 45px;
	width: 70%;
}

div.intro p {
	color: #5d6662;
}

/*
 блок подборки
 */
div.filters {
	width: 80%;
	position: relative;
	overflow: hidden;
	padding: 0 0 20px 14px;
	left: -14px;
	clear: both;
	-zoom: 1;
}

div.nextstep {
	background: transparent url(../im/arr2.jpg) no-repeat scroll 0 0;
	cursor: pointer;
	height: 45px;
	left: -40px;
	margin-left: 100%;
	position: absolute;
	top: 0px;
	width: 45px;
}

ul.tabs {
	overflow: hidden;
	padding: 0 25px;
	position: relative;
	z-index: 10;
	height: 31px;
	-zoom: 1;
}

ul.tabs li {
	float: left;
	position: relative;
	background: url(../im/taba.png) -15px 0 no-repeat;
	padding:0 15px;
	height: 31px;
}

ul.tabs li span.corner {
	position: absolute;
	margin-left: 100%;
	display: block;
	width: 15px;
	height: 31;
	background: url(../im/taba.png) 0 0 no-repeat;
	top: 0;
	left: -15px;
	height: 31px;
}

ul.tabs li a {
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	display: block;
	position: relative;
	float: left;
	background: #00ffff;
	height: 24px;
	line-height: 20px;
	padding-top: 7px;
	background: url(../im/taba.png) 0 -31px repeat-x;
	cursor:pointer;
}

ul.tabs li.active {
	background: url(../im/tab.png) -15px 0 no-repeat;
}

ul.tabs li.active a {
	background: url(../im/tab.png) 0 -31px repeat-x;
	color: #414141;
}

ul.tabs li.active span.corner {
	background: url(../im/tab.png) 0 0 no-repeat;
}

ul.tabs li:hover {
}

ul.tabs li:hover a {
}

ul.steps {
	overflow: hidden;
	padding: 0 0 25px;
	-zoom: 1;
}

ul.steps li {
	float: left;
	padding-bottom: 4px;
}

ul.steps li a {
	font-size: 14px;
	text-decoration: none;
	border-bottom: 1px dashed;
	margin-right: 30px;
}

ul.steps li.active a {
	border: none;
	color: #db2c4c;
}

ul.steps li a:hover {
	border: none;
}

div.params {
	overflow: hidden;
}

div.column {
	float: left;
	position: relative;
}

div.params ul {
	float: left;
	max-width: 300px;
	padding: 0 30px 20px 0;
}

div.params ul.twocols {
	position: relative;
	width: 300px;
}

div.params ul.threecols {
	position: relative;
	max-width: none;
}

div.params ul.twocols li {
	float: left;
	width: 50%;
	display: block;
}

div.params ul.threecols li {
	float: left;
	width: 33%;
}

div.params ul.threecols li label {
	padding-right: 22px
}

div.params ul li {
	padding-bottom: 5px;
}

div.params ul li label {
	color: #666666;
	position: relative;
	padding: 0 0 0 20px;
	display: block;
}

ul li input.checkbox {
	position: absolute;
	top: 1px;
	left: 0;
	width: auto;
}

div.zapros {
	color: #000000;
	font-size: 25px;
	padding: 15px 5%;
	position: relative;
	-zoom: 1;
	padding: 15px 0;
}

div.zapros label {
	font-size: 25px;
	color: #000;
	float: none;
	clear: both;
	display: block;
}

div.zapros input {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	width: 50%;
	margin: 5px 0 25px;
}

div.zapros textarea {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	width: 100%;
	height: 100px;
	margin: 5px 0 20px;
}

/* основной контент */
div#content {
	overflow: hidden;
	min-height: 100%;
	position: relative;
}

div#main {
	overflow: hidden;
	padding: 0 20px;
	z-index: 100;
	position: relative;
	clear: both;
	margin-bottom: 120px;
}

/*
 левая колонка основного контента
 */
div#left {
	float: left;
	width: 65%;
	clear: left;
}

body#inner div#left {
	float: left;
	width: 69%;
	margin-top: 20px;
	background: #f7f7f7;
	position: relative;
	min-height: 600px;
	-height: 600px;
}

div#left div.bordert {
	position: relative;
	background: #f7f7f7;
	margin: 0 10px;
	height: 10px;
	top: -10px;
}

div#left div.bordert span.corner {
	background-image: url(../im/corner2.png);
	width: 10px;
	height: 10px;
}

div#left div.bordert span.corner.tl {
	left: -10px;
}

div#left div.bordert span.corner.tr {
	left: 0;
	margin-left: 100%;
}

ul.menu1 {
	overflow: hidden;
	padding: 0 0 20px 30px;
	-zoom: 1;
}

ul.menu1 li {
	float: left;
	padding: 0 20px 5px 0;
}

ul.menu1 li a {
	font-size: 20px;
	text-decoration: none;
	color: #000;
	border-bottom: 1px dashed;
}

ul.menu1 li a:hover {
	color: #E91C42;
}

ul.menu1 li.active a {
	border: none;
	color: #666666;
}

div.postblock {
	padding: 20px 14px 80px;
}

div.post {
	position: relative;
	padding: 0 0 20px 30px;
	clear: both;
	-zoom: 1;
}

a.comments {
	position: absolute;
	top: 0;
	left: -12px;
	display: block;
	width: 33px;
	height: 23px;
	text-align: center;
	font-size: 9px;
	background: url(../im/comments1.png) 0 0 no-repeat;
	color: #fff;
	padding-top: 2px;
	cursor:pointer;
}

div.post div.date {
	color: #cacaca;
}

div.post p {
	font-size: 13px;
	color: #909090;
	padding: 10px 0;
}

div.post p span.text {
	font-size: 13px;
	color: #909090;
	padding-top: 5px;
	display: block;
}

div.post p a {
	font-size: 17px;
	color: #0099CC;
}

div.post p a:hover {
	color: #E91C42;
}

a.rss {
	text-transform: uppercase;
	display: block;
	float: left;
	height: 16px;
	margin-top: 20px;
	padding: 0 20px 0 30px;
	background: url(../im/icorss.png) right 0 no-repeat;
}

h4.nav {
	color: #646464;
	padding: 0 0 30px 20px;
}

h4.nav a {
	color: #0099CC;
	text-decoration: underline;
}

h4.nav a.active {
	color: #646464;
	text-decoration: none;
}

div#left div.introblock p {
	color: #343434;
	font-size: 14px;
	padding: 0 0 20px;
	line-height: 22px;
}

div.mesta {
	float: left;
	height: 21px;
	background: url(../im/tabgrey.png) 0 0 no-repeat;
	padding: 0 0 0 15px;
	margin: 0 20px 0 0;
	font-size: 12px;
	-margin: 0 10px 0 0;
}

div.mesta strong {
	display: block;
	height: 21px;
	background: url(../im/tabgrey.png) right 0 no-repeat;
	padding: 0 15px 0 0;
	line-height: 20px;
	color: #131313;
	float: left;
}

div.mesta strong.grey {
	color: #909090;
}

div.mesta strong span {
	color: #e91c42;
}

div.introblock {
	font-size: 14px;
	padding: 0 20px;
}

div.same {
	padding: 50px 0;
	overflow: hidden;
	position: relative;
	clear: both;
	-zoom: 1;
}

div.same p {
	color: #aaaaaa;
	font-size: 13px;
	padding-bottom: 10px;
}

div.same ul {
	float: left;
	width: 45%;
	padding: 0 3% 0 2%;
}

div.same ul li {
	background: url(../im/mark.gif) 0 7px no-repeat;
	padding: 0 0 8px 10px;
}

div.same ul li span {
	color: #b7b7b7;
}

div.items {
	clear: both;
	overflow: hidden;
	padding: 20px 0 50px 20px;
	-zoom: 1;
}

div.item {
	display: inline-block;
	vertical-align: top;
	padding: 0 30px 25px 0;
	overflow: hidden;
	width: 200px;
	-zoom: 1;
}

div.item div.subtitle {
	font-size: 11px;
	color: #999999;
	padding: 0 0 0 5px;
	white-space: nowrap;
}

div.item div.price {
	font-size: 14px;
	color: #000;
	padding: 0 0 0 5px;
	white-space: nowrap;
}

div.disc {
	width: 128px;
	height: 128px;
	background: url(../im/disccover.png) 0 0 no-repeat;
	padding: 6px 14px 10px 22px;
	position: relative;
	overflow: hidden;
}

div.disc img {
	height: 100%;
}

div.disc span {
	background: transparent url(../im/discblik.png) no-repeat scroll 0 0;
	display: block;
	height: 65px;
	left: 20px;
	position: absolute;
	top: 6px;
	width: 129px;
}

div.book {
	background: transparent url(../im/book.png) no-repeat scroll 0 0;
	height: 170px;
	overflow: hidden;
	padding: 5px 0 10px 7px;
	position: relative;
	width: 128px;
}

div.book span {
	background: transparent url(../im/bookblick.png) no-repeat scroll 0 0;
	display: block;
	height: 175px;
	left: 2px;
	position: absolute;
	top: 0;
	width: 126px;
}

div.book img {
	height: 100%;
}

div.dvd {
	background: transparent url(../im/dvdcover.png) no-repeat scroll 0 0;
	height: 166px;
	overflow: hidden;
	padding: 4px 0 15px 4px;
	position: relative;
	width: 124px;
}

div.dvd span {
	background: transparent url(../im/dvdblik.png) no-repeat scroll 0 0;
	display: block;
	height: 175px;
	left: 0;
	position: absolute;
	top: -5px;
	width: 126px;
}

div.dvd img {
	height: 100%;
}

span.tags {
	font-style: italic;
	color: #cccccc;
	font-size: 11px;
	display: block;
	padding: 10px 0;
}

div.post span.tags a {
	font-size: 11px;
}

a.all {
	border-bottom: 1px dashed;
	text-decoration: none;
	margin: 0 8px 0 30px;
}

span.num {
	color: #cccccc;
	font-size: 13px;
}

div.commentblock {
	clear: both;
	padding: 20px;
}

div.comment {
	padding-bottom: 30px;
}

div.name {
	font-size: 16px;
}

div.comment div.subname {
	font-size: 12px;
	color: #b3b3b3;
}

div.comment div.ctext {
	clear: both;
	font-size: 13px;
	color: #909090;
	overflow: hidden;
	padding: 24px 0 10px;
	position: relative;
	background: url(../im/decor1.png) 40px 0 no-repeat;
	-zoom: 1;
}

div.comment div.ctext div.date {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #cccccc;
	font-size: 11px;
}

div.comment div.ctext p {
	padding: 10px 20px;
	background: #fff;
	position: relative;
}

div.comment div.ctext span.links {
	overflow: hidden;
	display: block;
	padding: 5px 0;
	-zoom: 1;
}

div.comment div.ctext a.more {
	float: left;
	border-bottom: 1px dashed;
	text-decoration: none;
}

div.comment div.ctext a.ans {
	float: right;
}

div.ava {
	width: 66px;
	height: 66px;
	position: relative;
	float: left;
	margin: 0 10px 10px 0;
}

div.ava img {
	width: 100%;
	height: 100%;
}

div.ava div.border {
	position: absolute;
	width: 66px;
	height: 66px;
	top: 0;
	left: 0;
	background: url(../im/cornerava.png) 0 0 no-repeat;
}

/*
 правая колонка основного контента
 */
div#right {
	float: right;
	width: 30%;
}

div.treners {
	position: relative;
}

div.trener {
	overflow: hidden;
	padding-bottom: 20px;
	clear: both;
	-zoom: 1;
}

div.trener div.ava {
	width: 112px;
	height: 112px;
}

div.trener div.border {
	width: 112px;
	height: 112px;
	background: url(../im/cornerava1.png) 0 0 no-repeat;
}

div.trener div.name {
	padding: 5px 0 15px;
}

ul.effects {
	padding: 0 10px 20px;
}

ul.effects li {
	background: transparent url(../im/mark.gif) no-repeat scroll 0 7px;
	padding: 0 0 10px 15px;
}

div.podrobnee {
	font-style: italic;
	font-size: 11px;
	color: #5d6662;
	padding: 0 0 20px;
}

h6 span {
	color: #5d6662;
	padding: 0 5px;
}

a.pdf {
	display: block;
	text-decoration: none;
	padding: 2px 0 0 30px;
	background: url(../im/pdf.png) 0 0 no-repeat;
	height: 32px;
	margin: 20px 30px;
	float: left;
	width: 200px;
	-margin: 20px 15px;
}

a.pdf strong {
	font-weight: normal;
	text-decoration: underline;
	color: #21a6d2;
}

a.pdf span {
	color: #8d8d8d;
}

div.funs {
	padding: 20px 30px 50px;
	color: #aaaaaa;
	font-size: 13px;
	clear: both;
}

div.funs p {
	padding-bottom: 5px;
}

div#cloud {
	padding: 50px 50px 0 0;

}

div#cloud a {
	color: #707070;
	text-decoration: none;
	line-height: 1.5em;
}

/*
 promo blocks
 */
div#promo {
	padding: 20px 0;
	overflow: hidden;
	margin-bottom: 120px;
	margin-top: -150px;
	clear: both;
	position: relative;
	width: 100%;
	-zoom: 1;
}

div#promo div.block {
	float: left;
	width: 16%;
	padding: 0 40px;
	overflow: hidden;
	-zoom: 1;
}

div#promo a.ico {
	font-size: 21px;
	color: #e91c42;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0 0 10px;
	display: block;
	position: relative;
	text-decoration: none;
	max-width: 400px;
}

div#promo a.ico span {
	display: block;
	position: relative;
	height: 200px;
	margin-bottom: 10px;
	cursor: default;
}

div#promo a.ico img {
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 100%;
	display: block;
	border: none;
	cursor: pointer;
}

div#promo img {
}

div#promo p {
	color: #5d6662;
	line-height: 19px;
	max-width: 400px;
}

div#promo p a {
}

/*
 подвал
 */
div#footer {
	clear: both;
	z-index: 20;
	padding: 20px 0;
	overflow: hidden;
	position: relative;
	color: #fff;
	width: 100%;
	margin-top: -82px;
	background: #a0a0a0 url(../im/footer.gif) 0 0 repeat-x;
}

div#footer address {
	float: left;
	font-size: 11px;
	font-style: normal;
	padding: 0 40px;
}

/*
 white block
 */
div.whiteblock {
	position: relative;
	margin-top: -10px;
}

div#right div.whiteblock {
	margin-top: 0;
}

div.whiteblock span.corner {
	height: 35px;
	width: 35px;
	left: 0;
	top: 0;
	background-image: url(../im/cornerblock.png)
}

div.whiteblock div.button span.corner {
	background: transparent url(../im/button.png) no-repeat scroll right 0;
	display: block;
	height: 41px;
	margin-left: 100%;
	width: 20px;
}

div.whiteblock div.bordertop {
	height: 35px;
	margin: 0 35px;
	position: relative;
}

div.whiteblock span.corner.tr {
	background-position: right 0;
	margin-left: 100%;
}

div.whiteblock span.corner.tl {
	background-position: 0 0;
	left: -35px;
}

div.whiteblock span.tc {
	display:block;
	height:35px;
	background:url(../im/blocktc.png) 0 0 repeat-x;
}

div.whiteblock div.borderbottom {
	height: 35px;
	margin: 0 35px;
	position: relative;
}

div.whiteblock span.corner.br {
	background-position: right bottom;
	margin-left: 100%;
}

div.whiteblock span.corner.bl {
	background-position: 0 bottom;
	left: -35px;
}

div.whiteblock span.bc {
	display:block;
	height:35px;
	background:url(../im/blockbc.png) 0 0 repeat-x;
}

div.whiteblock div.borderleft {
	background: transparent url(../im/blockl.png) repeat-y scroll 0 0;
	overflow: hidden;
	position: relative;
	-zoom: 1;
}

div.whiteblock div.borderright {
	position: absolute;
	width: 35px;
	height: 10000px;
	margin-left: 100%;
	left: -35px;
	top: 0;
	background: transparent url(../im/blockr.png) repeat-y scroll right 0;
}

div.whiteblock div.content {
	background: #fff;
	overflow: hidden;
	margin: 0 35px;
	position: relative;
	padding: 0 20px 0;
	-zoom: 1;
}

div.whiteblock div.inner {
	padding: 0;
	position: relative;
}
