.mainLang{
    text-align:center;
    top:50%;
    margin-top:-40px;
    color:#fff;
}

.mainLang ul{
    padding:10px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.mainLang li{
    padding:0 10px !important;
    float:left;
    height:83px;
    line-height:82px;
    background:url("../../img/border3.png") 0 0 no-repeat !important;
}

.mainLang li.first{
    background:none !important;
}

.mainLang img{
    display:inline;
    vertical-align:middle;
}