/**
 * Created by: Andrew Borovin
 * www.borovin.com
 */

.portfolio {
	padding: 0 0 0 10px;
}

.portfolio__item {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.portfolio__itemTitle {
	color: #fafafa;
	text-shadow: -1px -1px #24517c;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	background: #477eb3;
	background-image: -moz-linear-gradient(top, #4392df 0, #336699 100%);
	background-image: -ms-linear-gradient(top, #4392df 0, #336699 100%);
	background-image: -o-linear-gradient(top, #4392df 0, #336699 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4392df), color-stop(100%, #336699));
	background-image: -webkit-linear-gradient(top, #4392df 0, #336699 100%);
	background-image: linear-gradient(to bottom, #4392df 0, #336699 100%);
	padding: 8px 40px 10px 15px;
	font-size: 16px;
	font-weight: bold;
}

.portfolio__item .slider__control{
	display: none;
}

.portfolio__item:hover .slider__control{
	display: block;
}
