.table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size:12px;
    width:100%;
    margin-bottom:30px;
}

.table th {
    padding:10px;
    background:url("../../img/grad4.png") 0 0 repeat-x #60a7d5;
    color:#fff;
    text-align:left;
}

.table td {
    padding:8px 30px 8px 15px;
    line-height:16px;
}

.table tr:nth-child(odd) td{
    background:#e2f1fb;
}