/**
 * Created by: Andrew Borovin
 * www.borovin.com
 */

.resume {

}

.resume__top {
	overflow: hidden;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.resume__photo {
	float: left;
	position: relative;
}

.resume__photo img {
	height: 198px;
	vertical-align: top;
}

.resume__info {
	float: left;
	font-size: 14px;
}

.resume__infoRow {
	margin: 0;
	padding: 0;
}

.resume__infoTitle {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	padding: 0 15px 0 12px;
	height: 33px;
	line-height: 32px;
	background: #6f8296;
	color: #fff;
	margin: 0 -4px 0 0;
	font-weight: bold;
}

.resume__infoText {
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	padding: 0 20px 0 12px;
	height: 33px;
	line-height: 32px;
	background: #f4f4f4;
}

.resume__experience {
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;
}

.resume__experienceItem {
	padding-bottom: 10px;
}

.resume__experienceText {
	line-height: 20px;
	margin: 0;
	padding: 0 0 20px;
}

.resume__experienceTitle {
	font-size: 16px;
	color: #fafafa;
	text-shadow: -1px -1px #546373;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	background: #88a0ba;
	background-image: -moz-linear-gradient(top, #89a0ba 0, #6f8296 100%);
	background-image: -ms-linear-gradient(top, #89a0ba 0, #6f8296 100%);
	background-image: -o-linear-gradient(top, #89a0ba 0, #6f8296 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #89a0ba), color-stop(100%, #6f8296));
	background-image: -webkit-linear-gradient(top, #89a0ba 0, #6f8296 100%);
	background-image: linear-gradient(to bottom, #89a0ba 0, #6f8296 100%);
	padding: 8px 40px 8px 15px;
	position: relative;
	margin-left: -15px;
	font-weight: bold;
}

.resume__experiencePlace {
	font-size: 16px;
	font-family: "Trebuchet MS";
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-bottom: 5px;
	margin-left: -15px;
	padding: 8px 40px 8px 15px;
	background: #eee;
}