html {
    overflow-y: hidden;
    height: 100%;
}

body {
    overflow-y: hidden;
    height: 100%;
}

div#content {
    overflow-y: auto;
}

div#footer {
    position: absolute;
    left: 0;
}

div#footer ul {
    padding-left: 60px;
}

