/*
 общие правила
 */
html {
	height: 100%;
}

body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 auto;
	height: 100%;
	min-width: 1200px;
	position: relative;
	padding: 0;
	background: #fff;
	-overflow-x: hidden;
}

div, li, span, b, a, ul, ol, input, p, h1, h2, h3, h4, h5, h6, dt, dd, dl {
	margin: 0;
	padding: 0;
}

p {
	font-size: 12px;
	line-height: 16px;
	color: #000;
	padding: 5px 0;
}

p img {
	margin:10px;
}

h1{
	font-size:20px;
	padding:5px 0;
}

h2{
	font-size:17px;
}

h3{
	font-size:15px;
	padding:5px 0;
}

h5{
	font-size:11px;
}

h6{
	font-size:10px;
}

ul {
	list-style: none;
	padding: 5px 30px;
}

ul li {
	padding: 0 0 5px 0;
}

dd, dt {
	clear: both;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #466951;
	outline: none;
}

a:hover {
	text-decoration: none;
}

div.alt {
	display: none;
}

div.lang {
	width: 70px;
	height: 26px;
	overflow: hidden;
	position: absolute;
	right: 40px;
	top: 50px;
}

body.map div.lang {
	left: 40px;
}

a.rus, strong.rus {
	display: block;
	position: relative;
	float: left;
	width: 32px;
	height: 26px;
	text-align: center;
	line-height: 25px;
	font-weight: normal;
}

a.rus span {
	display: block;
	position: absolute;
	background: url(../im/lang.png) 0 0 no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

strong.rus span {
	display: block;
	position: absolute;
	background: url(../im/lang.png) 0 -26px no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

a.rus:hover span {
	background: url(../im/lang.png) 0 -26px no-repeat;
}

a.eng, strong.eng {
	display: block;
	position: relative;
	width: 32px;
	height: 26px;
	float: right;
	text-align: center;
	line-height: 25px;
	font-weight: normal;
}

a.eng span {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../im/lang.png) -32px -26px no-repeat;
	top: 0;
	left: 0;
}

strong.eng span {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../im/lang.png) -32px 0 no-repeat;
	top: 0;
	left: 0;
}

a.eng:hover span {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../im/lang.png) -32px 0 no-repeat;
	top: 0;
	left: 0;
}

/*
 intro
 */
a.skip {
	font-family: Impact;
	font-size: 0;
	display: block;
	position: absolute;
	top: 50%;
	left: 100px;
	margin-top: 80px;
	width: 185px;
	height: 25px;
}

a.skip span {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../im/skip.jpg) 0 0 no-repeat;
	top: 0;
	left: 0;
}

a.skip:hover span {
	background-position: 0 -25px;
}

div.intro {
	position: absolute;
	width: 100%;
	height: 100%;
}

div.step {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat; *

display:none;
}

div.step0 {
	background: url(../im/step0.png) 100px 50% no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

div.step1 {
	background-image: url(../im/step1.jpg);
}

div.step2 {
	background-image: url(../im/step2.jpg);
}

div.step3 {
	background-image: url(../im/step3.png); *

background-image:
	url(../im/step3.jpg);
}

div.step4 {
	background-image: url(../im/step4.png); *

background-image:
	url(../im/step4.jpg);
}

div.step5 {
	background-image: url(../im/step5.png); *

background-image:
	url(../im/step5.jpg);
}

div.step6 {
	background-image: url(../im/step6.png); *

background-image:
	url(../im/step6.jpg);
}

/*
 шапка страницы
 */
div#header {
	position: relative;
	padding: 56px 0 0;
}

div#header h1 {
	height: 30px;
	line-height:30px;
	font-family: Impact;
	font-size: 25px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 0 0 54px 50px;
	-padding-bottom: 41px;
	position: relative;
}

div#header h2 {
	color: #fff;
	font-size: 42px;
	font-weight: normal;
	height: 40px;
	margin: 0 0 20px 65px;
	padding-left: 2px;
	position: relative;
	text-transform: uppercase;
}

div#header div.description {
	background:#D2E0CF url(../im/descriptionfon.gif) 0 0 repeat-x;
	border-top: 1px solid #f3f7f0;
	color: #466951;
	font-size: 17px;
	padding: 20px 45% 20px 95px;
	min-height:100px;
	-height:100px;
}

div#header div.map {
	position: absolute;
	width: 340px;
	height: 340px;
	background: none;
	overflow: hidden;
	right: 10%;
	top: 0;
}

div#header div.map div.circle {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../im/circle1.png) 0 0 no-repeat;
	top: 0;
	left: 0;
}

div.map div.minimap {
	height: 480px;
	left: -130px;
	position: absolute;
	top: -60px;
	width: 700px;
}

div.map div.fon {
	background: url(../im/minimap.jpg) 0 0 no-repeat #fff;
}

div.map div.fon strong {
	background: url(../im/mark4.gif) 0 0 no-repeat;
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	top: 0;
	left: 0;
}

div.links a.tab {
	position: absolute;
	display: block;
	text-transform: uppercase;
	color: #000;
}

div.links strong {
	display: none;
}

div.links a.tab strong {
	position: absolute;
	display: block;
	width: 13px;
	height: 13px;
	top: 12px;
	left: 12px;
}

div.links a.tab b {
	display: none;
}

div.links a.tab:hover strong {
	background: url(../im/mark4.gif) 0 0 no-repeat;
}

div.links a.news {
	height: 69px;
	left: 195px;
	top: 84px;
	width: 100px;
}

div.links a.about {
	width: 120px;
	height: 69px;
	left: 149px;
	top: 250px;
}

div.links a.services {
	height: 65px;
	left: 333px;
	top: 151px;
	width: 90px;
}

div.links a.projects {
	height: 69px;
	left: 357px;
	top: 302px;
	width: 100px;
}

div.links a.contacts {
	height: 75px;
	left: 491px;
	top: 168px;
	width: 120px;
}

/* основной контент */
div#content {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	-height: 100%;
	-overflow: visible;
}

div#main {
	padding: 35px 0 150px 65px;
	overflow: hidden;
	position: relative;
	min-height: 400px;
	-overflow: visible;
	-height: 1px;
}

body.map div#main {
	overflow: visible;
	position: static;
}

div.photo {
	float: left;
	width: 250px;
	padding: 10px 20px 10px 30px;
} #imgs .loader {
	background: url(../i/loader.gif) 0 0 no-repeat;
	width: 20px;
	height: 4px;
	position: absolute;
	top: 33px;
	left: 46px
}

b.loader {
	background: url(../im/loader.gif) 0 0 no-repeat;
	width: 32px;
	height: 16px;
	position: absolute;
	top: 16px;
	left: 14px;
	display: block;
}

div.img {
	padding: 0;
	position: relative;
	overflow: hidden;
	height: 187px;
	width: 250px;
	margin-bottom: 5px;
}

dl div.photo {
	padding: 0 30px 20px 0;
	-zoom:1;
}

div.img img {
	position: absolute;
	top: 0;
	left: 0;
}

div.img img.loadimg {
	top: 187px;
	left: 0;
}

dl.scroll ul.previews {
	height: 49px;
	padding: 0;
	margin-right: -3px;
	left: 0;
	top: 0;
}

ul.previews li {
	float: left;
	width: 60px;
	display: block;
	padding: 0;
	margin: 0 3px 5px 0;
	overflow: hidden;
	position: relative;
	background: #ccc;
}

ul.previews a {
	position: relative;
	display: block;
}

ul.previews a.active {
	top: -49px;
}

ul.previews img {
	width: 60px;
	display: block;
	padding: 0;
	margin: 0 3px 0 0;
	border: 0;
}

dl.contacts {
	float: left;
	width: 160px;
	padding: 0 80px 0 0;
	color: #333;
}

dl.contacts dt {
	font-weight: bold;
	padding-bottom: 2px;
}

dl.contacts dd {
	padding-bottom: 20px;
	line-height: 16px;
}

dl.contacts dd p.phone {
	font-size: 21px;
	padding: 4px 0 0;
	color: #395a44;
}

dl.scroll {
	overflow: hidden;
	position: relative;
}

dl.scroll dt {
	background: url(../im/mark1.gif) 0 5px no-repeat;
	padding: 0 0 10px 15px;
	font-size: 14px;
	text-decoration: none;
	clear: both;
	-margin-bottom:10px;
	-padding-bottom:0;
}

dl.scroll dt.active {
	background: url(../im/mark1active.gif) 0 5px no-repeat;
}

dl.scroll dt span {
	border-bottom: 1px dashed;
	color: #1e6135;
	cursor: pointer;
}

dl.scroll dt span:hover {
	border: none;
}

dl.scroll dd  {
	overflow: hidden;
	clear: both;
	-zoom:1;
}

dl.scroll dd div.card {
	padding: 10px 0 20px 30px;
	overflow: hidden;
	-zoom:1;
}

dl ul{
	list-style:disc;
}

dl.scroll ul {
	padding-left: 30px;
	-position: static;
}

dl.scroll a.more {
	float: left;
	-float: none;
	padding: 10px 0;
	display: block;
}.opera dl.scroll a.more {
	float: none;
}

a.tab {
	position: absolute;
	display: block;
	text-transform: uppercase;
	color: #000; *

display:none;
}

a.tab span {
	position: absolute;
	display: block;
	text-transform: uppercase;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

a.tab strong {
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	top: 23px;
	left: 25px;
}

a.tab b {
	font-family: Impact;
	font-weight: normal;
	color: #000;
	font-size: 20px;
	display: none;
	position: relative;
	background: #fff;
	padding: 5px;
	text-align: center;
	top: 58px;
	left: 53px;
}

a.tab:hover strong {
	background: url(../im/mark.gif) 0 0 no-repeat;
}

a.news {
	width: 169px;
	height: 115px;
	top: 10%;
	left: 25%;
}

a.news span {
	background: url(../im/tabnews.png) 0 0 no-repeat;
}

a.news b {
	width: 89px;
	height: 27px;
	top: 60px;
	left: 53px;
}

a.about {
	width: 200px;
	height: 115px;
	top: 53%;
	left: 15%;
}

a.about span {
	background: url(../im/tababout.png) 0 0 no-repeat;
}

a.about b {
	width: 122px;
	height: 27px;
	top: 58px;
	left: 51px;
}

a.services {
	width: 152px;
	height: 109px;
	top: 24%;
	left: 45%;
}

a.services span {
	background: url(../im/tabservices.png) 0 0 no-repeat;
}

a.services b {
	width: 74px;
	height: 27px;
	top: 57px;
	left: 52px;
}

a.projects {
	width: 167px;
	height: 115px;
	top: 65%;
	left: 40%;
}

a.projects span {
	background: url(../im/tabprojects.png) 0 0 no-repeat;
}

a.projects b {
	width: 90px;
	height: 27px;
	top: 58px;
	left: 51px;
}

a.contacts {
	width: 200px;
	height: 125px;
	top: 30%;
	left: 70%;
}

a.contacts span {
	background: url(../im/tabcontacts.png) 0 0 no-repeat;
}

a.contacts b {
	width: 130px;
	height: 49px;
	text-align: left;
	top: 56px;
	left: 51px;
}

div#main h4 {
	font-family: Impact;
	font-weight: bold;
	font-size: 26px;
	text-transform: uppercase;
	padding-bottom: 20px;
	float: left;
	white-space: nowrap;
}

/*
 левая колонка основного контента
 */
div#left {
	float: left;
	width:45%;
	position: relative;
	margin-right: 5%;
}

/*
 центральная колонка основного контента
 */
div#center {
	float: left;
	width: 20%;
}

/*
 правая колонка основного контента
 */
div#right {
	float: right;
	width: 20%;
	margin-right:2%;
	-margin-right:-40px;
}

/*
 подвал
 */
div#footer {
	clear: both;
	width: 100%;
	z-index: 20;
	padding: 0;
	position: fixed;
	height: 70px;
	background: #000;
	bottom: 0;
	min-width:1000px;
}

div#footer ul {
	float: left;
	height: 13px;
	padding: 30px 0 0 50px;
} * html body.map div#footer ul {
	margin-left: -180px;
}

div#footer ul li {
	height: 13px;
	float: left;
	margin-right: 30px;
	-margin-right:25px;
}

div#footer ul li a {
	height: 13px;
	display: block;
	line-height: 10px;
	text-transform: uppercase;
	color: #000;
	font-size: 11px;
	position: relative;
	width: 100%;
	padding-left: 2px;
}

div#footer ul li a span {
	position: absolute;
	top: 0;
	left: 0;
	height: 13px;
	width: 100%;
	background: url(../im/menu.png) no-repeat;
	cursor: pointer;
}

div#footer ul li.about {
	width: 71px;
}

div#footer ul li.about span {
	background-position: 0px 0;
}

div#footer ul li.about a:hover span {
	background-position: 0px -13px;
}

div#footer ul li.news {
	width: 51px;
}

div#footer ul li.news span {
	background-position: -98px 0;
}

div#footer ul li.news a:hover span {
	background-position: -98px -13px;
}

div#footer ul li.services {
	width: 43px;
}

div#footer ul li.services span {
	background-position: -176px 0;
}

div#footer ul li.services a:hover span {
	background-position: -176px -13px;
}

div#footer ul li.projects {
	width: 52px;
}

div#footer ul li.projects span {
	background-position: -247px 0;
}

div#footer ul li.projects a:hover span {
	background-position: -247px -13px;
}

div#footer ul li.jobs {
	width: 58px;
}

div#footer ul li.jobs span {
	background-position: -324px 0;
}

div#footer ul li.jobs a:hover span {
	background-position: -324px -13px;
}

div#footer ul li.contacts {
	width: 150px;
}

div#footer ul li.contacts span {
	background-position: -406px 0;
}

div#footer ul li.contacts a:hover span {
	background-position: -406px -13px;
}

div#footer a.logo {
	width: 241px;
	height: 45px;
	display: block;
	background: url(../im/logo.jpg) 0 0 no-repeat;
	float: right;
	position: relative;
	top: 12px;
	left: -30px;
}

div.layers {
	float: left;
	height: 120px;
	width: 120px;
	margin: -50px -50px 0 0;
	background: #000;
	position: relative;
}

div#num {
	width: 90px;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background-image: url(../im/nums.gif);
	background-repeat:no-repeat;
	background-position:
}

div.buttons {
	width: 294px;
	height: 50px;
	position: relative;
	left: 110px;
}

div.button {
	width: 49px;
	height: 50px;
	float: left;
	background: url(../im/buttons.png) 0 0 no-repeat;
	position:relative;
	-margin-left: -5px;
}

div.button span {
	width: 49px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../im/buttonhover.png) 0 0 no-repeat;
	display: none;
}

div.button.active span {
	display: block;
}

div.button:hover span {
	background: url(../im/buttonhover.png) 0 0 no-repeat;
}

div.button.first {
	background-position: 0 0;
	background-color: #243d2c;
}

div.button.second {
	background-position: -49px 0;
	background-color: #334f3a;
}

div.button.third {
	background-position: -98px 0;
	background-color: #436449;
}

div.button.fourth {
	background-position: -147px 0;
	background-color: #5a7559;
}

div.button.fifth {
	background-position: -196px 0;
	background-color: #899f81;
}

div.button.sixth {
	background-position: -245px 0;
	background-color: #a0b797;
}

/*
news
*/

dl.news{

}

dl.news dt{
	color:#1E6135;
	padding:0 0 5px;
}

dl.news dd{
	padding:0 0 15px;
}





