div.params ul li input.checkbox {
	top:-3px;
	left:-4px;
}

div.nextstep {
	left: -65px;
}

form.peoplesearch input.text{
	margin-left:-40px;
}

form.card div.refresh, form.card div.order {
	margin:0;
}

form.card div.refresh {
	left:-10px;
}

form.card div.order {
	left:-40px;
}

div.item {
	display:inline;
}