body {
    font-size: 13px;
    font-family: Tahoma, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #fafafa;
}

a{
    color: #336699;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Cuprum', sans-serif;
}

h1{
    font-size: 27px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px;
}

h3{
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 15px;
}
