/**
 * Created by Andrew Borovin.
 * www.borovin.com
 */

.header {
	padding: 20px 30px 50px;
	position: relative;
	overflow: hidden;
}

.header__title {
	font-size: 64px;
	padding: 0;
	white-space: nowrap;
	color: #444;
	font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}