/**
 * Created by Andrew Borovin.
 * www.borovin.com
 */

.content {
	padding: 12px 20px;
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
	box-shadow: 0 0 10px 2px #444;
	background: #fff;
}

.content__inner{
	overflow: hidden;
	position: relative;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	box-shadow: 0 0 10px 2px #444;
	margin: 0 10px;
	background: url("../../img/gradient1.jpg") center 0 repeat-y #fff;
}

.content__page{
	float: left;
	width: 50%;
}

.content__pageInner{
	padding: 20px 30px;
}