/**/

.promo {
    padding-bottom:40px;
}

.promo__description {
    width:269px;
    background:url("../../img/grad1.png") 0 0 no-repeat #2f91cf;
    padding:40px 30px;
    color:#fff;
    font-size:13px;
    line-height:16px;
    float:left;
    height:380px;
    margin-right:1px;
}

.promo__gallery {
    width:630px;
    height:460px;
    overflow:hidden;
}

.promo__galleryImg{
    position:absolute;
    width:100%;
    height:100%;
    display:none;
    left:0;
    top:0;
}

.promo__previewControl {
    overflow:hidden;
    margin-top:1px;
}

.promo__controlTitle {
    height:75px;
    line-height:75px;
    float:left;
    width:279px;
    background:#327cc1 url("../../img/arrowRight1.png") 290px center no-repeat;
    color:#fff;
    padding-right:50px;
    text-align:right;
}

.promo__thumbList {
    margin-left:330px;
    margin-right: -6px;
    padding: 0;
}

.promo__thumbItem{
    float:left;
    width:105px;
    padding:0 !important;
    background:none !important;
    margin-right:1px;
}

.promo__thumbLink{
    display:block;
    overflow:hidden;
    height: 75px;
    line-height: 75px;
    text-align: center;
    overflow: hidden;
}

.promo__thumbImg{
    height: 100%;
    width: 100%;
    vertical-align: top;
}